@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&family=Roboto:wght@500&display=swap');
@font-face{
    font-family: "Norse Bold";
    src: url("font/Norse-Bold.otf") format("opentype")
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    position: relative

}

.background{
    width: 35vw;
    height: 100vh;
    z-index: 1;
    
}

.logo{
    position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 150px;
   background-color: rgba(0, 0, 0, 0.5);
   width: 35vw;
   
}
.odin-logo{
    width: 125px;
}

.odin-logo, h1{
    font-family: "Norse Bold", sans-serif;
    font-size: 7em;
}

.right{
    line-height: 1.25;
    background-color: #fafafa;
}

.info{
    margin: 0px 150px 50px 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 200px;
    background-image: #596D48 
}

.message2{
    margin-bottom: 30px;
}

.message4{
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: sans-serif;
    
}


.second{
    padding: 20px 0px;
    background-color: white;
    box-shadow: 0 2px 2px -2px gray;
}
.form-main-div{
    display: flex;
    margin-left: 30px;
    gap: 100px; 
     
}
.form-div{
    margin-bottom: 10px
}

label{
    font-family: sans-serif;
    letter-spacing: 1.1px;
    font-size: 13px;
    font-style: bolder;
    
}

input{
    width: 250px;
    height: 28px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    
}

input:focus{
    transition: .1s;
    border: 1px solid rgb(36, 36, 167);
    box-shadow: 0 5px 4px 1px gray;
}

#password:invalid{
    border: 1px solid red;
}

#confirm-password:invalid{
    border: 1px solid red;
}

p{
    color: red;
    font-size: 14px;
}

button{
    margin: 30px;
    padding: 12px 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: #596D48;
    margin-bottom: 30px;
    color: white;
    font-style: bolder;
}

button:disabled{
    opacity: .5
}

.hyperlink{
    margin-left: 30px;
    font-size: 18px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #596D48;
    font-style: bolder;
}


